<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Portfolio page</title>
<link rel="stylesheet" href="/css/index.css">

</head>
<body>
 <header>
    <h1>Harshit Raghuvanshi</h1>
    <p>Java Full Stack Developer | MCA</p>
</header>

<section>
    <h2>About Me</h2>
    <p>
      I am an enthusiastic IT student with a Bachelor’s in Computer Applications (BCA) and currently pursuing Master’s in
Computer Applications (MCA) from IPS Academy, Indore. I have a strong foundation in programming, web development,
and database management, supported by hands-on project experience. I am actively seeking opportunities to begin my
career in the IT industry and contribute effectively to organizational growth
    </p>
</section>

<section>
    <h2>Skills</h2>
    <ul>
        <li>Languages :Java, Javascript</li>
        <li>Frameworks and Libraries : Spring , SpringBoot, MVC Architecture, Hibernate, JSP, Servlets</li>
        <li> DataBases: MySQL, MongoDB</li>
        <li>Web Technologies: HTML, CSS, Bootstrap,J avaScript</li>
        <li>Version Control:Git & GitHub</li>
        <li>Platform Tools: Eclipse IDE, IntelliJIDEA</li>
    </ul>
</section>

<section>
    <h2>Projects</h2>
    <p>
        <strong>Online Voting System</strong><br>
       Technologies: Java, Spring, Hibernate, JSP, MySQL, HTML, CSS<br>
Built a secure online voting platform with role-based access, user authentication, and admin controls.
Implemented backend with Spring + Hibernate ORM and followed the MVC architecture.
Created a responsive UI with HTML, CSS, and JavaScript.
Designed relational tables in MySQL for handling user data and elections securely.
    </p>
</section>

<section>
    <h2>Internships</h2>
    <p>
        <strong>Ypsilon IT Solutions Pvt. Ltd.</strong><br>
       Completed one month of internship in java full Stack where i gained experience
        on core java, Servlets, Jsp technology, Hibernate ,MVC architecture, Spring
        and learned how to develop java based web Applications. <br>
        <strong>Dhee Coding Labs</strong><br>
       Currently Learning as a Java full Stack intern at Dhee Coding Labs. 
    </p>
</section>

<section>
<h2>Education </h2>
<p>
<strong> IPS Academy,Indore(Madhya pradesh)</strong>
Pursuing master's in computer application.<br>
CGPA: 7.6<br>
<strong>Holkar Science College, Indore(Madhya pradesh)</strong>
Completed bachelor's in computer application.<br>
CGPA: 6.7
</p>
</section>

<section>
    <h2>Contact</h2>
    <p>Email: harshit07code@gmail.com</p>
  <a href="http://www.linkedin.com/in/harshit-raghuvanshi-579454320" >Linkedin:http://www.linkedin.com/in/harshit-raghuvanshi-579454320</a><br>
    <a  href=" https://github.com/harshit07-code" >Github:  https://github.com/harshit07-code</a><br>
  <a href="/contactForms"  class="btn" >Contact Me</a>
</section>

<footer>
    <p>© 2026 Harshit Raghuvanshi</p>
</footer>
 
</body>
</html>